{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Karnataka Police</title>
    <!--/google-fonts -->
    <link
      href="//fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap"
      rel="stylesheet" />
    <!--//google-fonts -->
    <!--/Template-CSS -->
    <!--//Template-CSS -->
  </head>
  <body style="background-image: url(../static/assets/images/police.png); background-repeat: no-repeat;">
       {% include 'officer_header.html' %}
  <!--/Banner-Start-->
    <!-- main-slider -->
    <section class="w3l-main-slider banner-slider " id="home">
        <center>{{msg}}</center>
        <div class="owl-one owl-carousel owl-theme">
                <div class="slider-info banner-view banner-top1">
                    <div class="container">
                        <div class="w3banner-grids">
                            <div class="banner-info header-hero-19">
                                <p class="w3hny-tag"> Crime stoppers</p>
                                <h3 class="title-hero-19">Ready to help anytime</h3>
                                <a href="{% url 'officer:view_complaints' %}" class="btn btn-style btn-primary mt-4">View Complaints </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
        </div>

    </section>
    
</body> 
</html>