{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Karnataka Police</title>
    <!--/google-fonts -->
    <link
      href="//fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap"
      rel="stylesheet" />
    <!--//google-fonts -->
    <!--/Template-CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}" />
    <!--//Template-CSS -->
  </head>
  <body>
    {% block content %}
    <!--/Header-->
    <header id="site-header" class="fixed-top" style="overflow: hidden">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
          <h1>
            <a class="navbar-brand" href="{% url 'home' %}">
              <span class="w3yellow">Karnataka</span> Police
            </a>
          </h1>
          <button
            class="navbar-toggler collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarScroll"
            aria-controls="navbarScroll"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
            <span class="navbar-toggler-icon fa icon-close fa-times"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav mx-lg-auto my-2 my-lg-0 navbar-nav-scroll">
              <li class="nav-item" style="color: white;">
                <a class="nav-link" aria-current="page" href="{% url 'home' %}"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'services' %}">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'status' %}">Status</a>
              </li>
            </ul>
            <!--/search-right-->
            <ul class="header-search me-lg-4">
                <li class="nav-item search-right">
                    {% if session_user %}
                    <!-- /search popup -->
                    <a href="#logout" class="btn search-btn btn-primary" title="search"><span aria-hidden="true" >{{session_user.full_name}}</span></a>
                    <!-- search popup -->
                    <div id="logout" class="pop-overlay">
                        <div class="popup">
                            <h3 class="title-w3l two mb-4 text-left">Are you sure you want to logout?</h3>
                            <center><a href="{% url 'logout' %}" class="btn search-btn btn-primary" title="search"><span><i class="fa fa-sign-out"></i>Logout</span></a></center>
                        </div>
                        <a class="close" href="#close">×</a>
                    </div>
                    <!-- /search popup -->
                    {% endif %}
                </li>
            </ul>
            <!--//search-right-->
                </div>
            </nav>
      </div>
    </header>
    <!--//Header-->
    <!-- Template JavaScript -->
    <script src="{% static 'assets/js/theme-change.js' %}"></script>
    {% endblock %}

