{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Karnataka Police</title>
    <!--/google-fonts -->
    <link
      href="//fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap"
      rel="stylesheet" />
    <!--//google-fonts -->
    <!--/Template-CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}" />
    <!--//Template-CSS -->
  </head>
  <body>
       {% include 'header.html' %}
  <!--/Banner-Start-->
    <!-- main-slider -->
    <center>
    <section class="w3l-main-slider banner-slider " id="home">
        <center>{{msg}}</center>
        <div class="owl-one owl-carousel owl-theme">
                <div class="slider-info banner-view banner-top1">
                    <div class="container">
                        <div class="w3banner-grids">
                          {% if complaints %}
                            <table class="table table-head-fixed" style="color:white">
                                <thead>
                                  <tr>
                                    <th>Complaint ID</th>
                                    <th>Complainer Name</th>
                                    <th>Date</th>
                                    <th>Subject</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>View</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>{{complaints.id}}</td>
                                    <td>{{complaints.citizen_name}}</td>
                                    <td>{{complaints.time_of_complaint}}</td>
                                    <td>{{complaints.subject}}</td>
                                    <td>{{complaints.description}} </td>
                                    <td>{{complaints.status}}</td>
                                    <td><a href="{% url 'view_form' %}"><button><i class="fa-solid fa-eye" alt="view form"></i></button></a></td>
                                  </tr>
                                </tbody>
                          {% else %}
                          <p style="color: white;">There are no complaints filed from your account
                            <br>
                            Go to home paeg to submit your complaint
                          </p>
                          {% endif %}
                        </div>
                    </div>
                </div>
        </div>

    </section>
</center>

    
    <!-- //move top -->
    <!--//footer-9 -->
    <!-- Template JavaScript -->
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/theme-change.js' %}"></script>
</body> 
</html>